/* profile */
.profile_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

/* profile Portal */
.pp_wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.pp_container {
    padding: 1rem;
    display: flex;
    width: 10rem;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: 1rem;
    top: 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ----Cal */
.cal_wrapper {
    background-image: url(/assets/cal-empty.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
}

.cal_done {
    background-color: var(--weekDay-bg);
}

.cal_currentDay {
    background-color: var(--todo-outline);
}

.cal_mark {
    border: 1px solid black;
}

/* ----CalendarSection */
.calendar_wrapper {
    overflow: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 5rem;
    justify-items: center;
    align-items: center;
}

.calendar_wrapper::-webkit-scrollbar {
    width: 0;
    /* Set the width of the scrollbar */
}



/* ----AddEditSection */
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(69, 68, 68, 0.383);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addEditContainer {
    position: relative;
    width: 50%;
    max-width: 580px;
}

.ae_close {
    position: absolute;
    right: -10px;
    top: -2px;
}

.ae_section {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

.ae_action {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
    justify-content: space-between;
}

.ae_action_left {
    display: flex;
    position: relative;
}

/* Project */
.pro_container {
    width: 100%;
    height: 100%;
    background-image: url(/assets/soon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

/* todo */
.todo_add_btn {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}