* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --container-bg: #F2F5F6;
    --todo-outline: #2DD1F5;
    --task-bg: #E6F1F4;
    --weekDay-bg: #a2f1be9f;
    --dsa-outline: #FF7918;
    --delete-btn: #F44336;
    --done-btn: #07BA59;

    /* dark theme */
    --light-gray-10: #f5f5f5;
    --light-gray-20: #f0f0f0;
    --light-gray-30: #dfdfdf;
    --light-gray-40: #b7b7b7;
    --light-gray-50: #949494;
    --light-gray-60: #777;
    --light-gray-70: #525252;
    --light-gray-80: #2a2a2a;
    --light-gray-90: #212121;
    --light-gray-100: #1a1a1a;

    --dark-gray-10: #1a1a1a;
    /* module content color */
    --dark-gray-20: #262626;
    --dark-gray-30: #323232;
    --dark-gray-40: #3a3a3a;
    --dark-gray-50: #777;
    --dark-gray-60: #949494;
    --dark-gray-70: #b7b7b7;
    --dark-gray-80: #dfdfdf;
    --dark-gray-90: #e8e8e8;
    --dark-gray-100: #f5f5f5;
    /* backgrouond */
    --dark-gray-black: #0f0f0f;

    /* tab bar color */
    --opacity-white-10: #ffffff0f;
    --opacity-white-20: #ffffff14;
    --opacity-white-30: #ffffff1a;
    --opacity-white-40: #ffffff24;
    --opacity-white-50: #ffffff38;
    --opacity-white-60: #ffffff4d;
    --opacity-white-70: #fff6;
    --opacity-white-80: #fff9;
    --opacity-white-90: #fffc;
    --opacity-white-100: #fff;
    --opacity-black-10: #00000005;
    --opacity-black-20: #0000000a;
    --opacity-black-30: #0000000f;
    --opacity-black-40: #00000014;
    --opacity-black-50: #00000021;
    --opacity-black-60: #00000036;
    --opacity-black-70: #00000057;
    --opacity-black-80: #0000008c;
    --opacity-black-90: #000000e3;
    --opacity-black-100: #000;

    --text-primary: var(--dark-gray-100);
    --text-secondary: var(--opacity-white-80);
    --text-tertiary: var(--opacity-white-70);
    --text-quaternary: var(--opacity-white-60);

    --border-radius: 13px;

    --dark-shadow-layer-1: 0px 0px 1px 0px #0000001a, 0px 0.5px 5px 0px #0000001a;
    --dark-shadow-layer-1-hover: 0px 0px 1px 0px #0000001a, 0px 4px 8px 0px #0003;
    --dark-shadow-layer-2: 0px 0px 1px 0px #0003, 0px 0px 1px 0px #00000026, 0px 7px 22px 0px #00000040;
    --dark-shadow-layer-3: 0px 0px 1px 0px #0000004d, 0px 0px 2px 0px #0000000d, 0px 38px 90px 0px #00000040;
    --shadow-layer-1: var(--dark-shadow-layer-1);
    --shadow-layer-1-hover: var(--dark-shadow-layer-1-hover);
    --shadow-layer-2: var(--dark-shadow-layer-2);
    --shadow-layer-3: var(--dark-shadow-layer-3);
}

body {
    position: relative;
}

#root,
#popup {
    position: absolute;
}